<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_Kayıt_Formu_Yeni.Properties.Settings.eyyubıxkayitConnectionString"
            connectionString="Data Source=DESKTOP-LATR9CC\SQLEXPRESS;Initial Catalog=eyyubıxkayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>